<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    *ngIf="selectedProduct">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Seçili Ürün</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card mb-3" style="max-width: 540px; border: none;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="/assets/img/{{ selectedProduct.imageUrl }}" class="card-img">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class=" row">
                                    <label for="" class="col-md-5"><strong>Adı : </strong></label>
                                    <h5 class="card-title col-md-7">{{ selectedProduct.name }}</h5>
                                </div>
                                <div class=" row">
                                    <label for="" class="col-md-5"><strong>Fiyatı : </strong></label>
                                    <h5 class="card-text col-md-7"><strong>{{ selectedProduct.price }} TL</strong></h5>
                                </div>
                                <div class=" row">
                                    <label for="" class="col-md-5"><strong>Kategori :</strong></label>
                                    <h5 class="card-text col-md-7">{{ selectedProduct.category }}</h5>
                                </div>
                                <div class=" row">
                                    <label for="" class="col-md-5"><strong>Açıklama :</strong></label>
                                    <h5 class="card-text col-md-7"><small>{{ selectedProduct.description }}</small></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info mx-2" (click)="addProductToCart(selectedProduct)">Add
                    To Cart</button>
                <button (click)="hideDetails()" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4" *ngFor="let p of products">
        <!-- animate__animated animate__zoomIn -->
        <div class="card m-1" style="width: 16rem; border: 0ch;">
            <img src="/assets/img/{{ p.imageUrl }}" class="card-img-top" alt="{{p.name}}">
            <div class="card-body">
                <h5 class="card-title">{{ p.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ p.price }} TL</h6>
                <p class="card-text">{{ p.description }}</p>
                <hr>
                <div class="text-center">
                    <button class="btn btn-outline-info btn-sm mx-2" (click)="addProductToCart(p)">Add
                        To Cart</button>
                    <button class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#exampleModal"
                        (click)="displayDetails(p)">Detail</button>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>